* {
    margin: 0;
    padding: 0;    
    box-sizing: border-box;
  }
  h3{
    font-size: 20px;
    width: 30rem;
    margin-bottom: 10px;
  }
  .body {
    background-image: url("./assets/back2.png");
    background-size:cover;
    background-color: #122543 ;
    width: 100%;
    overflow: hidden;
  }
  .header{
    z-index: 20;
    height: 5vh;
    background-color: #254369;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
  }
  .link{
    padding: 10px;
    color: white;
  }
  #app {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 4vmin;
    height: 100vh;
    font-size: larger;
    width: 100%;
    color: white;
  }
  .wave {
    animation-name: wave-animation; 
    animation-duration: 2.5s;   
    animation-iteration-count: infinite; 
    transform-origin: 70% 70%;      
    display: inline-block;
  }
  
  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }  
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) } 
    100% { transform: rotate(0.0deg)}
  }
  @media (max-width: 500px) {
    #app {
      flex-direction: column;
      justify-content: center;
    }
    .title{
      height: 10%;
      font-size:xx-large;
      padding-top: 7rem;
    }
    #home-text{
       padding: 0 5%;
    }
  }
  #home-text{
    color: white;
    width: 40vw;
  }
  .form-outer{
    padding: 20px;
    background: linear-gradient(135deg,rgba(255, 255, 255, 0.055),rgba(255, 255, 255, 0.09));
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(3px);
    border-radius: 20px;
    border: 1px solid rgba(167, 167, 167, 0.063);
    box-shadow:0 15px 15px 15px rgba(15, 15, 15, 0.233),0 6px 7px 0 rgba(37, 37, 37, 0.271);
     margin-top: 100px;
     height: 60vh;
     width: 400px;
}
  @import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
  
  .title {
    padding-left: 2rem;
    font-family: "Prata", serif;
    font-size: 5vw;
    width: 60vw;
    height: 50%;
  }
  